{% extends 'backoffice/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Edition Customers</h1>

        <div class="card collapsable-card">
            <div class="card-header">
                <a href="" title="Action">Action</a>
            </div>
            <div class="card-body">
                <a href="{{ path('backoffice/customer/edit') }}" title="Nouveau"
                   class="btn btn-info btn-add">Nouveau</a>
            </div>
        </div>

        <div class="card collapsable-card open">
            <div class="card-header">
                <a href="" title="Edition">Edition</a>
            </div>
            <div class="card-body">
                {{ form_start(form) }}

                <div class="flex_block">
                    <fieldset class="mt-5 mb-3 flex_100">
                        <legend>Le client</legend>
                    </fieldset>
                    <div>
                        {{ form_row(form.name) }}
                        {{ form_row(form.project_name) }}
                        {{ form_row(form.concept) }}
                        {{ form_row(form.descriptif) }}
                        {{ form_row(form.context) }}
                        {{ form_row(form.mission) }}
                        {% if customer and customer.logo %}
                            <img class="img-fluid" src="{{ customer.logoPaths.domain.icon }}" alt="" />
                        {% endif %}
                        {{ form_row(form.webUrl) }}
{#                        {{ form_row(form.slug) }}#}
                    </div>
                    <div class="flex_100 mt-4 mb-4">
                        <hr>
                        <hr>
                    </div>

                    {#                        TEXTES#}
                    <fieldset class="mt-5 mb-3 flex_100">
                        <legend>Les textes</legend>
                    </fieldset>

                    <div class="flex_100">
                        {{ form_row(form.conseiller) }}
                        {{ form_row(form.conseillerActive) }}
                        {{ form_row(form.imaginer) }}
                        {{ form_row(form.imaginerActive) }}
                        {{ form_row(form.developper) }}
                        {{ form_row(form.developperActive) }}
                        {{ form_row(form.accompagner) }}
                        {{ form_row(form.accompagnerActive) }}
                    </div>
                    <div class="flex_100 mt-4 mb-4">
                        <hr>
                        <hr>
                    </div>

                    {#                        EXPERTISES#}
                    <fieldset class="mt-5 mb-3 flex_100">
                        <legend>Catégories à associer</legend>
                    </fieldset>

                    {% for expertise in form.expertise %}
                        {% if expertise.vars.value != customer.id %}
                            <div class="flex_20 mt-3">
                                {{ form_label(expertise) }}
                                {{ form_widget(expertise) }}
                            </div>
                        {% else %}

                            <div style="display: none;">
                                {{ form_label(expertise) }}
                                {{ form_widget(expertise) }}
                            </div>

                        {% endif %}
                    {% endfor %}
                    <div class="flex_100 mt-4 mb-4">
                        <hr>
                        <hr>
                    </div>
                </div>

                {#                LES IMAGES#}

                <div class="form-group form-control-width-auto">

                    <fieldset class="mt-5 mb-3 flex_100">
                        <legend>Les images</legend>
                    </fieldset>
                    <div id="medias-list" class="flex_block"
                         data-prototype=
                         '
                            <div class="flex_100">
                            {{ form_widget(form.customerMedias.vars.prototype.mediaFile)|e ("html_attr") }}
                            {{ form_widget(form.customerMedias.vars.prototype.position)|e ("html_attr") }}
                            </div>
                            <div class="flex_100">

                            </div>
                            <div class="image_module mb-3">
                                <a href="" class="btn btn-danger btn-trash btn-delete-item">Supprimer</a>
                            </div>
                         '
                         data-widget-tags="{{ '<div class="flex_25 row_delete"></div>'|e }}"
                         data-widget-counter="{{ form.customerMedias|length }}">
                        {% for customerMedia in form.customerMedias %}
                            <div class="flex_25 row_delete">
                                <div class="collection-item-wrapper">
                                    {{ form_errors(customerMedia) }}
                                    {{ form_widget(customerMedia) }}
                                </div>
                                <div class="image_module mb-3 mt-5">
                                    <img src="{{ customerMedia.vars.value.mediaPaths.domain.backoffice }}" alt=""/>
                                </div>
                                <div class="image_product mb-5">
                                    <a href="" class="btn btn-danger btn-trash btn-delete-item mb-4">Supprimer</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button"
                            class="add-another-collection-widget btn btn-info btn-add"
                            data-list-selector="#medias-list">
                        Ajouter une image
                    </button>
                </div>
            </div>
        </div>

{#        {{ form_row(form.active) }}#}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('wysiwyg') }}

    <script type="text/javascript">

        $(document).ready(function() {

            $('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);

                // relance bootstrap toogle
                $("[data-toggle='toggle']").bootstrapToggle('destroy')
                $("[data-toggle='toggle']").bootstrapToggle();
                var simpleWysiwygs = [];
                $('textarea.simple-wysiwyg').each(function () {
                    var thisElt = $(this);
                    var currentWysiwyg = thisElt.trumbowyg({
                        lang: 'fr',
                        svgPath: thisElt.attr('data-svgPath'),
                        btnsDef: {
                            // Customizables dropdowns
                            image: {
                                dropdown: ['insertImage', 'upload'],
                                ico: 'insertImage'
                            }
                        },
                        btns: [
                            ['viewHTML'],
                            ['undo', 'redo'],
                            ['formatting'],
                            ['fontsize'],
                            ['strong', 'em', 'del', 'underline'],
                            ['link'],
                            ['image'],
                            ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                            ['unorderedList', 'orderedList'],
                            ['foreColor', 'backColor'],
                            ['preformatted'],
                            ['horizontalRule'],
                            ['fullscreen'],
                            ['historyUndo','historyRedo']
                        ],
                        plugins: {
                            upload: {
                                // Some upload plugin options, see details below
                                serverPath: thisElt.attr('data-ajax-upload-url'),
                                // nom du post de l'image
                                fileFieldName: 'fileToUpload',
                                // nom de l'url de l'image dans le retour json
                                urlPropertyName: 'pictureUrl',
                                // autres paramètres à passer
                                data: [
                                    {name: 'entity', value: thisElt.attr('data-entity')},
                                    {name: 'id', value: thisElt.attr('data-id')}
                                ]
                            },
                            resizimg: {
                                minSize: 64,
                                step: 16,
                            }
                        }
                    });

                    simpleWysiwygs.push(currentWysiwyg);
                });


                // $("#medias-list .toggle").click(function() {
                //     if ($(this).hasClass("btn-success")) {
                //         $('#medias-list input[type=checkbox]').not(this).each(function()
                //         {
                //             $(this).bootstrapToggle('off'); //you can set "on" or "off"
                //         });
                //     }
                // });


            });

            // $("#medias-list .toggle").click(function() {
            //     if ($(this).hasClass("btn-success")) {
            //         $('#medias-list input[type=checkbox]').not(this).each(function()
            //         {
            //             $(this).bootstrapToggle('off'); //you can set "on" or "off"
            //         });
            //     }
            //     });

            $(document).on({
                click: function () {
                    $('#medias-list .toggle input[type=checkbox]').bootstrapToggle('off');
                    $(this).find('input[type=checkbox]').bootstrapToggle('on');

                }
            }, '#medias-list .toggle');

            $(document).on({
                click: function () {
                    if (!confirm('Supprimer ?')) {
                        return false;
                    }

                    $(this).parents('.row_delete').remove();
                    return false;
                }
            }, '.btn-delete-item');

        });
    </script>

{% endblock %}