{% extends 'front/base.html.twig' %}

{% block body %}

    <div id="customer_details" class="no-header">

        {% if customer.active %}

            {############################################################### Titre ###############################################################}

            <h1><span class="txt-orange">{{ customer.name }} </span> {{ customer.projectName }}</h1>
            <div class="concept">{{ customer.concept }}</div>

            {############################################################### Image d'entête ###############################################################}

            {% for customerMedia in customer.customerMedias %}
                {% if customerMedia.position == 'entete' %}
                    <p class="img-bloc"><img class="img-fluid entete"
                                             src="{{ customerMedia.mediaPaths.domain.original }}"
                                             alt=""/></p>
                {% endif %}
            {% endfor %}

            {############################################################### Bloc contexte et Mission ###############################################################}

            <div class="row bloc-text">
                <div class="col-12 col-lg-6 contexte">
                    <h3>CONTEXTE</h3>
                    {{ customer.context|raw }}
                </div>

                <div class="col-12 col-lg-6 mission">
                    <h3>MISSION</h3>
                    {{ customer.mission|raw }}
                </div>
            </div>

            {############################################################### Bloc Action ###############################################################}

            <div id="actions">

                <h2><span class="txt-orange">NOS </span>ACTIONS</h2>

                {######################################### Bloc action - Conseiller #########################################}

                {% if customer.conseillerActive %}
                    <div id="conseiller">
                        <div class="row">

                            {################### Bloc action - Conseiller - Colonne de gauche ###################}

                            <div class="conseiller-left">
                                <p class="number">01</p>
                                <h3 class="big-title">Conseiller</h3>
                            </div>

                            {################### Bloc action - Conseiller - Colonne de droite ###################}

                            <div class="conseiller-right">
                                {{ customer.conseiller|raw }}
                                {% for customerMedia in customer.customerMedias %}
                                    {% if customerMedia.position == 'conseiller' %}
                                        <p class="conseiller-img"><img class="img-fluid"
                                                                       src="{{ customerMedia.mediaPaths.domain.conseiller }}"
                                                                       alt=""/></p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                {% endif %}

                {######################################### Bloc action - Imaginer + Dévélopper #########################################}

                <div class="row" id="imaginer-developper">
                    <div class="col-12 col-lg-6 left {% if not customer.imaginerActive %} actif-developper-text {% endif %}">

                        {################### Bloc action - Imaginer - Colonne de gauche ###################}

                        {% if customer.imaginerActive %}
                            <div class="imaginer-txt">{{ customer.imaginer|raw }}</div>


                            {################### Bloc action - Développer - Colonne de gauche ###################}

                            <div class="row grille">

                                <div class="col-6 img-left">
                                </div>
                                <div class="col-6 img-right">
                                </div>
                            </div>
                        {% endif %}
                        {% if customer.developperActive %}
                            <div class="developper">
                                <p class="number">03</p>
                                <h3 class="big-title">Développer</h3>
                            </div>

                            <div class="developper-txt">{{ customer.developper|raw }}</div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-6 right {% if not customer.imaginerActive %} actif-developper-img {% endif %}">

                        {################### Bloc action - Imaginer - Colonne de droite ###################}
                        {% if customer.imaginerActive %}
                            <div class="imaginer">
                                <h3 class="big-title">Imaginer</h3>
                                <p class="number">02</p>
                            </div>
                        {% endif %}
                        {################### Bloc action - Imaginer + Dévélopper - Grille d'image ###################}

                        <div class="row grille">
                            <div class="col-6 img-left">
                                {% if customer.imaginerActive %}
                                    {% for customerMedia in customer.customerMedias %}
                                        {% if customerMedia.position == 'hg' %}
                                            <p class="conteneur-img hg"><img class="img-fluid"
                                                                             src="{{ customerMedia.mediaPaths.domain.grille_customer }}"
                                                                             alt=""/></p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if customer.developperActive %}
                                    {% for customerMedia in customer.customerMedias %}
                                        {% if customerMedia.position == 'bg' %}
                                            <p class="conteneur-img bg"><img class="img-fluid"
                                                                             src="{{ customerMedia.mediaPaths.domain.grille_customer }}"
                                                                             alt=""/></p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-6 img-right">
                                {% if customer.imaginerActive %}
                                    {% for customerMedia in customer.customerMedias %}
                                        {% if customerMedia.position == 'hd' %}
                                            <p class="conteneur-img"><img class="img-fluid"
                                                                          src="{{ customerMedia.mediaPaths.domain.grille_customer }}"
                                                                          alt=""/></p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if customer.developperActive %}
                                    {% for customerMedia in customer.customerMedias %}
                                        {% if customerMedia.position == 'bd' %}
                                            <p class="conteneur-img"><img class="img-fluid"
                                                                          src="{{ customerMedia.mediaPaths.domain.grille_customer }}"
                                                                          alt=""/></p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if customer.accompagnerActive %}
                    <div id="bloc-accompagner">
                        <div class="row">
                            <div class="offset-lg-3 col-lg-9">
                                <h3 class="big-title">Accompagner</h3>
                                <div class="content-block">
                                    <p class="number">04</p>
                                    <div class="accompagner">{{ customer.accompagner|raw }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>

            <h2 id="expertises_title"><span class="txt-orange">NOS </span>EXPERTISES SUR LE PROJET</h2>
            <div id="expertises">
                {% for expertise in customer.expertise %}
                    <p>{{ expertise.name }}</p>
                {% endfor %}
            </div>

            {#{% include 'front/contact/candidature/index.html.twig' %}#}
        {% endif %}
    </div>

{% endblock %}