<div id="home_customers">
    <h2>Une technique créative inspirée par nos clients</h2>
    <div class="row no-pm">

        {###############################  Bloc réalisation ###############################}

        <div class="col-12 no-pm" id="customer-content">
            {% set position = 0 %}

            {% for customer in customers %}

                {% if customer.active and customer.casClient %}

                    {% if position is even %}

                        <div class="row relative-row no-pm">
                            <div class="col-12 offset-md-6 col-md-6 bloc-right">
                                <h3>{{ customer.name }}</h3>
                                <h4 class="project-name">{{ customer.projectName }}</h4>
                                <div class="content">
                                    <div class="separator-content">
                                        <hr>
                                        {% for customerMedia in customer.customerMedias %}
                                            {% if customerMedia.position == 'homePage' %}
                                                <div class="img-bloc">
                                                    <a href="{{ path('front/customers-details', {'slug': customer.slug}) }}">
                                                        <img class="img-fluid"
                                                             src="{{ customerMedia.mediaPaths.domain.thumbnail_customer }}"
                                                             alt=""/>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% if customer.descriptif %}
                                        <div class="description">
                                            <div>{{ customer.descriptif|raw }}</div>
                                            <div class="fleche">
                                                <a href="{{ path('front/customers-details', {'slug': customer.slug}) }}">
                                                    <img src="{{ asset('build/assets/images/realisations/fleche-customer.png') }}"
                                                         width="20px" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="separator"></div>
                                </div>
                            </div>
                        </div>

                    {% elseif position is odd %}
                        <div class="row relative-row no-pm">
                            <div class="col-12 col-md-6 bloc-left">
                                <h3>{{ customer.name }}</h3>
                                <h4 class="project-name">{{ customer.projectName }}</h4>
                                <div class="content">
                                    <div class="separator-content">
                                        {% for customerMedia in customer.customerMedias %}
                                            {% if customerMedia.position == 'homePage' %}
                                                <div class="img-bloc">
                                                    <a href="{{ path('front/customers-details', {'slug': customer.slug}) }}">
                                                        <img class="img-fluid"
                                                             src="{{ customerMedia.mediaPaths.domain.thumbnail_customer }}"
                                                             alt=""/>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <hr>
                                    </div>
                                    {% if customer.descriptif %}
                                        <div class="description">
                                            <div>{{ customer.descriptif }}</div>
                                            <div class="fleche"><a
                                                        href="{{ path('front/customers-details', {'slug': customer.slug}) }}"><img
                                                            src="{{ asset('build/assets/images/realisations/fleche-customer.png') }}"
                                                            width="20px" alt=""></a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="separator"></div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <p> Aucun client </p>
                    {% endif %}

                    {% set position = position + 1 %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('front/realisations') }}" class="btn-ds">Voir nos réalisations</a>
</div>