{% extends 'front/base.html.twig' %}

{% block body %}

    <div id="realisation" class="no-header">

        <h1>Les projets inspirés <span class="txt-orange">par nos clients</span></h1>

        {###############################  Filtre expertise  ###############################}

        <div id="expertise-filtre">
            <div id="close-expertises">Fermer <img id="close-cross"
                                                   src="{{ asset('build/assets/images/realisations/croix.png') }}"
                                                   alt="Fermer expertises"></div>
            <div id="expertises">
                {% for expertise in expertises %}
                    <p id="{{ expertise.id }}">{{ expertise.name }}</p>
                {% endfor %}
                <p id="tout_afficher">Tout Afficher</p>
            </div>
        </div>
        <div id="filtrer"><span class="btn-filtre txt-orange">FILTRER</span></div>
        <div class="row no-pm">

            {###############################  Menu  ###############################}

            {# <div id="nav" class="col-lg-3">
                 <nav id="realisation-nav">
                     {% for customer in customers %}
                         <div class="item-menu">
                             <a href="#customer_id_{{ customer.id }}"
                                id="{{ customer.id }}"
                                class="{% if loop.first %}active {% endif %} ">
                                 {{ customer.name }}
                             </a>
                         </div>
                     {% endfor %}
                 </nav>
             </div>#}

            {###############################  Bloc réalisation ###############################}

            <div class="col-12 no-pm" id="customer-content">

                {% set position = 0 %}

                <div class="row relative-row no-pm">
                {% for key,customer in customers %}
                    {% if customer.active %}
                        {% if position is even %}

{#                            <div class="row relative-row no-pm">#}
                                <div class="col-12 offset-md-6 col-md-6 bloc-right">
                                    <h3>{{ customer.name }}</h3>
                                    <h4 class="project-name">{{ customer.projectName }}</h4>
                                    <div class="content">
                                        <div class="separator-content">
                                            <hr>
                                            <div>
                                                <div class="expertises bxslider">
                                                    {% for expertise in customer.expertise %}
                                                        <p id="{{ expertise.id }}">{{ expertise.name }}</p>
                                                    {% endfor %}
                                                </div>
                                                {% for customerMedia in customer.customerMedias %}
                                                    {% if customerMedia.position == 'homePage' %}
                                                        <div class="img-bloc">
                                                            <img class="img-fluid" src="{{ customerMedia.mediaPaths.domain.thumbnail_customer }}" alt=""/>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="links">
                                                    <div class="links-container"><a href="{{ customer.webUrl }}" class="btn-ds">Voir le site</a></div>
                                                    {% if customer.casClient %}
                                                    <div class="links-container"><a href="{{ path('front/customers-details', {'slug': customer.slug}) }}"
                                                                                    class="btn-ds">Voir le cas client</a></div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
{#                            </div>#}

                        {% elseif position is odd %}
{#                            <div class="row relative-row no-pm">#}
                                <div class="col-12 col-md-6 bloc-left">
                                    <h3>{{ customer.name }}</h3>
                                    <h4 class="project-name">{{ customer.projectName }}</h4>
                                    <div class="content">
                                        <div class="separator-content">
                                            <div>
                                                <div class="expertises bxslider">
                                                    {% for expertise in customer.expertise %}
                                                        <p id="{{ expertise.id }}">{{ expertise.name }}</p>
                                                    {% endfor %}
                                                </div>
                                                {% for customerMedia in customer.customerMedias %}
                                                    {% if customerMedia.position == 'homePage' %}
                                                        <div class="img-bloc"><img class="img-fluid"
                                                                                   src="{{ customerMedia.mediaPaths.domain.thumbnail_customer }}"
                                                                                   alt=""/></div>
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="links">
                                                    <div class="links-container"><a href="{{ customer.webUrl }}" class="btn-ds">Voir le site</a></div>
                                                    {% if customer.casClient %}
                                                    <div class="links-container"><a href="{{ path('front/customers-details', {'slug': customer.slug}) }}"
                                                                                    class="btn-ds">Voir le cas client</a></div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
{#                            </div>#}

                        {% else %}
                            <p> Aucun client </p>
                        {% endif %}
                        {% set position = position + 1 %}
                    {% endif %}
                {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>

        $("#expertise-filtre p").click(function () {

            var idExpertise = [];
            var last_hr = "{{ asset('build/assets/images/realisations/last_hr.png') }}";


            if( $(this).attr('id') !== 'tout_afficher') {
                 $(this).toggleClass('active');
                 $('#expertise-filtre #tout_afficher').removeClass('reset_filter');
            }else{
                $(this).toggleClass('reset_filter');
                $("#expertise-filtre p").each(function () {
                    if($(this).attr('id') !== 'tout_afficher'){
                        $(this).removeClass('active');
                    }
                })
            }

            $('#expertise-filtre p').each(function () {
                if ($(this).hasClass('active')) {
                    idExpertise.push($(this).attr('id'));
                }
            });





            var customer_content = $('#customer-content');
            customer_content.empty();

            $.ajax({
                type: 'POST',
                url: '{{ url('front/realisation-filtre') }}',
                data: {
                    id: idExpertise
                },
                success: function (response) {
                    var customer_container = '';
                    var position = 0;

                    for (var customer = 0; customer < response.customers.length; customer++) {
                        if (response.customers[customer].active) {

                            if (position % 2 === 0) {

                                customer_container +=
                                    '<div class="row relative-row no-pm">' +
                                    '   <div class="col-12 offset-md-6 col-md-6 bloc-right">' +
                                    '       <h3>' + response.customers[customer].name + '</h3>' +
                                    '       <h4 class="project-name">' + response.customers[customer].projectName + '</h4>' +
                                    '       <div class="content">' +
                                    '           <div class="separator-content">' +
                                    '               <hr> ' +
                                    '               <div>' +
                                    '                   <div class="expertises bxslider">'
                                ;
                                                        for (var expertiseOdd = 0; expertiseOdd < response.customers[customer].expertises.length; expertiseOdd++) {
                                                            var active = '';
                                                            $(idExpertise).each(function (i) {
                                                                if ($(this)[0] == parseInt(response.customers[customer].expertises[expertiseOdd].id)) {
                                                                    active = 'active';
                                                                }
                                                            });
                                customer_container +=
                                    '                       <p class="' + response.customers[customer].expertises[expertiseOdd].id + ' ' + active + '">' + response.customers[customer].expertises[expertiseOdd].name + '</p>'
                                ;
                                                        }
                                customer_container +=
                                    '                   </div>'
                                ;
                                                    for (var customerMediaOdd = 0; customerMediaOdd < response.customers[customer].medias.length; customerMediaOdd++) {

                                                    if (response.customers[customer].medias[customerMediaOdd].position === "homePage") {
                                customer_container +=
                                    '                   <div class="img-bloc"><img class="img-fluid" src="' + response.customers[customer].medias[customerMediaOdd].path.domain.thumbnail_customer + '" alt=""/></div>'
                                ;
                                                    }
                                                    }
                                customer_container +=
                                    '                   <div class="links">' +
                                    '                       <div class="links-container"><a href="' + response.customers[customer].url + '" class="btn-ds">Voir le site</a></div>'
                                ;
                                                        if (response.customers[customer].casClient) {
                                    customer_container +=
                                    '                       <div class="links-container"><a href="' + response.customers[customer].slug + '" class="btn-ds">Voir le cas client</a></div>'
                                    ;
                                                        }
                                customer_container +=
                                    '                   </div>' +
                                    '               </div>' +
                                    '           </div>' +
                                    '       </div>' +
                                    '   </div>' +
                                    '</div>'
                                ;
                            } else {
                                customer_container +=
                                    '<div class="row relative-row no-pm">' +
                                    '   <div class="col-12 col-md-6 bloc-left">' +
                                    '   <h3>' + response.customers[customer].name + '</h3>' +
                                    '           <h4 class="project-name">' + response.customers[customer].projectName + '</h4>' +
                                    '           <div class="content">' +
                                    '               <div class="separator-content">' +
                                    '                   <div>' +
                                    '                       <div class="expertises bxslider">'
                                ;
                                                            for (var expertiseEven = 0; expertiseEven < response.customers[customer].expertises.length; expertiseEven++) {
                                                            var active = '';
                                                                $(idExpertise).each(function (i) {
                                                                    if ($(this)[0] == parseInt(response.customers[customer].expertises[expertiseEven].id)) {
                                                                        active = 'active';
                                                                    }
                                                                });
                                customer_container +=
                                    '                           <p class="' + response.customers[customer].expertises[expertiseEven].id + ' ' + active + '">' + response.customers[customer].expertises[expertiseEven].name + '</p>'
                                ;
                                                            }
                                customer_container +=
                                    '                       </div>'
                                ;
                                                            for (var customerMediaEven = 0; customerMediaEven < response.customers[customer].medias.length; customerMediaEven++) {
                                                            if (response.customers[customer].medias[customerMediaEven].position === "homePage") {
                                customer_container +=
                                '                           <div class="img-bloc"><img class="img-fluid" src="' + response.customers[customer].medias[customerMediaEven].path.domain.thumbnail_customer + '" alt=""/></div>'
                                ;
                                                            }
                                                }
                                customer_container +=
                                    '                       <div class="links">' +
                                    '                           <div class="links-container"><a href="' + response.customers[customer].url + '" class="btn-ds">Voir le site</a></div>'
                                ;
                                                                if (response.customers[customer].casClient) {
                                customer_container +=
                                    '                           <div class="links-container"><a href="' + response.customers[customer].slug + '" class="btn-ds">Voir le cas client</a></div>'
                                ;
                                                                }
                                customer_container +=
                                    '                       </div>' +
                                    '                   </div>' +
                                    '                   <hr> '+
                                    '           </div>' +
                                    '       </div>' +
                                    '   </div>' +
                                    '</div>'
                                ;
                            }

                            position++;
                        }
                    }
                    customer_content.html(customer_container);
                }
            });
        });

    </script>
{% endblock %}
