<!DOCTYPE html>

<title>Keyword index</title>

{% block body %}
    <h1>Keyword index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
            <tr>
                <td>{{ keyword.id }}</td>
                <td>{{ keyword.name }}</td>
                <td>{{ keyword.createdAt ? keyword.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('keyword_show', {'id': keyword.id}) }}">show</a>
                    <a href="{{ path('keyword_edit', {'id': keyword.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('keyword_new') }}">Create new</a>
{% endblock %}
